<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory>src/</directory>
        </whitelist>
    </filter>
    <php>
        <!--
        <env name="POCKET_CUSTOMER_KEY" value="" />
        -->
    </php>
</phpunit>
